*~
bin
parts
coverage
eggs
sources
dist
venv
htmlcov
.installed.cfg
develop-eggs
var/*
*.egg-info
*.pyc
*.pyo
*.bak
*.egg
*.tar.gz
*.so
.tox
.DS_Store
.coverage
.idea
docs/_build/
build
.cache
.python-version
