docker-py==1.10.6
mypy==0.990
pytest==6.2.5
pytest-asyncio==0.17.2
pytest-cov==3.0.0
python-memcached==1.59
flake8==4.0.1
flake8-bandit==2.1.2
flake8-bugbear==22.1.11
flake8-import-order==0.18.1
flake8-requirements==1.5.1
